

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  // height: 100%;
  width: 100%;
  background: linear-gradient(19deg, #2499f3 0%, #B721FF 140%);
}

body {
  height: 100%;
  width: 99.5%;
  background-color: $color-background;
}



// Typed Cursor

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


.header_container {
  height: auto;
  width: 100%;
  padding: 1.5%;
  position: relative;

  @include for-tablet-portrait-up {
    height: auto;
  }

  .page_header {
    height: auto;
    min-height: 250px;
    position: relative;
    background-color: $color-blue-primary;
    background-color: #2499f3;
    background-image: $gradient;
    text-align: center;

    #particles-js-min {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 250px;
      width: 100%;
      z-index: 1;
    }

    .header_content {
      margin: 0 auto;
      display: inline-block;
      padding-top: 2em;
    }

  }
}
